
*.o

*.lo
.deps
.libs

/obj
/lib

/prog/*
!/prog/*.c
!/prog/*.jpg
!/prog/*.png
!/prog/*.tif
!/prog/*.tiff
!/prog/bak/
!/prog/new/

/cscope.*

/Makefile
/autom4te.cache/
/config.status
/config_auto.h
/config.log
/m4
/libtool
/stamp-h1
/src/Makefile
/src/liblept.la
/src/xtractprotos

